@model CV

@{
    ViewData["Title"] = "DeleteCV";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <form method="post" asp-controller="Service" asp-action="DeleteCV" enctype="multipart/form-data">
        <h2>DeleteCV</h2>
        <div class="alert alert-danger" role="alert">
            Bu postu silmək istədiyinizə əminsiziniz??
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">About you</th>
                    <th scope="col">CV file</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">@Model.Id</th>
                    <td>@Model.Fullname</td>
                    <td>@Model.Email</td>
                    <td><textarea>@Model.Description</textarea></td>
                    <td>
                        @if (@Model.CV_Name.Contains(".pdf") || @Model.CV_Name.Contains(".doc")
                            || @Model.CV_Name.Contains(".docx") || @Model.CV_Name.Contains(".pptx") )
                        {
                            <a href="~/img/@Model.CV_Name">Cv pdf file</a>
                        }
                        else
                        {
                            <img src="~/img/@Model.CV_Name" width="60" />
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
